## Deliverable 3. Create a Travel Itinerary Map.

In [13]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [14]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("Vacation_Search/WeatherPy_vacation.csv")
vacation_df.head()

,City_ID,City,Country,Max Temp,Description,Lat,Lng,Hotel Name
0,0,Nizwa,OM,77.72,clear sky,22.9333,57.5333,Orient Apartments
1,3,Mar Del Plata,AR,75.22,scattered clouds,-38.0023,-57.5575,Gran Hotel Mar del Plata
2,5,Bambous Virieux,MU,80.22,broken clouds,-20.3428,57.7575,Casa Tia Villa
3,6,Vaini,TO,73.56,light intensity shower rain,-21.2000,-175.2000,Keleti Beach Resort
4,11,Victoria,HK,65.25,clear sky,22.2855,114.1577,Mini Hotel Central

In [17]:
vacation_df.dtypes

City_ID          int64
City            object
Country         object
Max Temp       float64
Description     object
Lat            float64
Lng            float64
Hotel Name      object
dtype: object

In [19]:
max_temp = vacation_df["Max Temp"]
temps=[]
for temp in max_temp:
    temps.append(max(temp, 0))

In [20]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Description} and {Max Temp} Â°F</dd>
</dl>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]
vacation_df=pd.DataFrame(vacation_df)
vacation_df.head()

,City_ID,City,Country,Max Temp,Description,Lat,Lng,Hotel Name
0,0,Nizwa,OM,77.72,clear sky,22.9333,57.5333,Orient Apartments
1,3,Mar Del Plata,AR,75.22,scattered clouds,-38.0023,-57.5575,Gran Hotel Mar del Plata
2,5,Bambous Virieux,MU,80.22,broken clouds,-20.3428,57.7575,Casa Tia Villa
3,6,Vaini,TO,73.56,light intensity shower rain,-21.2000,-175.2000,Keleti Beach Resort
4,11,Victoria,HK,65.25,clear sky,22.2855,114.1577,Mini Hotel Central

In [21]:
# 4a. Add a marker layer for each city to the map.
max_temp = vacation_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# 4b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [22]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = vacation_df.loc[vacation_df["City"] == "Mar Del Plata"]
vacation_end = vacation_df.loc[vacation_df["City"] == "Mar Del Plata"]
vacation_stop1 = vacation_df.loc[vacation_df["City"] == "San Rafael"]
vacation_stop2 = vacation_df.loc[vacation_df["City"] == "San Juan"] 
vacation_stop3 = vacation_df.loc[vacation_df["City"] == "Santa Fe"]

vacation_start

,City_ID,City,Country,Max Temp,Description,Lat,Lng,Hotel Name
1,3,Mar Del Plata,AR,75.22,scattered clouds,-38.0023,-57.5575,Gran Hotel Mar del Plata

In [23]:
itinerary_df = vacation_df.loc[vacation_df["Country"] =="AR"]
itinerary_df.head(20)

,City_ID,City,Country,Max Temp,Description,Lat,Lng,Hotel Name
1,3,Mar Del Plata,AR,75.22,scattered clouds,-38.0023,-57.5575,Gran Hotel Mar del Plata
81,155,Santiago Del Estero,AR,83.26,clear sky,-27.7951,-64.2615,Apartamentos Castelli 90
91,178,San Rafael,AR,65.97,few clouds,-34.6177,-68.3301,Hotel San Rafael
112,219,Comodoro Rivadavia,AR,66.06,clear sky,-45.8667,-67.5000,Austral Hotel
210,409,San Juan,AR,71.83,clear sky,-31.5375,-68.5364,Hotel Provincial
231,456,Santa Fe,AR,80.02,scattered clouds,-31.6333,-60.7000,Conquistador Hotel
258,500,Moron,AR,69.03,overcast clouds,-34.6534,-58.6198,Hotel MorÃ³n
295,565,Cordoba,AR,77.41,clear sky,-31.4135,-64.1811,Hotel Sussex

In [24]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start = vacation_start["Lat"].to_numpy()[0], vacation_start["Lng"].to_numpy()[0]
end = vacation_end["Lat"].to_numpy()[0], vacation_end["Lng"].to_numpy()[0]
stop1 = vacation_stop1["Lat"].to_numpy()[0], vacation_stop1["Lng"].to_numpy()[0]
stop2 = vacation_stop2["Lat"].to_numpy()[0], vacation_stop2["Lng"].to_numpy()[0]
stop3 = vacation_stop3["Lat"].to_numpy()[0], vacation_stop3["Lng"].to_numpy()[0]
print(f'start = {start}, end = {end}, stop1={stop1}, stop2{stop2}, stop3{stop3}')

start = (-38.0023, -57.5575), end = (-38.0023, -57.5575), stop1=(-34.6177, -68.3301), stop2(-31.5375, -68.5364), stop3(-31.6333, -60.7)

In [25]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".
import gmaps
import gmaps.datasets
fig=gmaps.figure()
start2end_via_stops = gmaps.directions_layer(start, end, waypoints = [stop1, stop2, stop3], travel_mode = "DRIVING")
fig.add_layer(start2end_via_stops)
fig

Figure(layout=FigureLayout(height='420px'))

In [26]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start, vacation_stop1, vacation_stop2, vacation_stop3, vacation_end],ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,Description,Lat,Lng,Hotel Name
0,3,Mar Del Plata,AR,75.22,scattered clouds,-38.0023,-57.5575,Gran Hotel Mar del Plata
1,178,San Rafael,AR,65.97,few clouds,-34.6177,-68.3301,Hotel San Rafael
2,409,San Juan,AR,71.83,clear sky,-31.5375,-68.5364,Hotel Provincial
3,456,Santa Fe,AR,80.02,scattered clouds,-31.6333,-60.7000,Conquistador Hotel
4,3,Mar Del Plata,AR,75.22,scattered clouds,-38.0023,-57.5575,Gran Hotel Mar del Plata

In [27]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Description} and {Max Temp} Â°F</dd>
</dl>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]
itinerary_df = pd.DataFrame(itinerary_df)
itinerary_df

,City_ID,City,Country,Max Temp,Description,Lat,Lng,Hotel Name
0,3,Mar Del Plata,AR,75.22,scattered clouds,-38.0023,-57.5575,Gran Hotel Mar del Plata
1,178,San Rafael,AR,65.97,few clouds,-34.6177,-68.3301,Hotel San Rafael
2,409,San Juan,AR,71.83,clear sky,-31.5375,-68.5364,Hotel Provincial
3,456,Santa Fe,AR,80.02,scattered clouds,-31.6333,-60.7000,Conquistador Hotel
4,3,Mar Del Plata,AR,75.22,scattered clouds,-38.0023,-57.5575,Gran Hotel Mar del Plata

In [28]:
# 11a. Add a marker layer for each city to the map.
max_temp = itinerary_df["Max Temp"]
center = (-38.0023, -57.5575)
fig = gmaps.figure(center=center, zoom_level=4)
# heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
#              max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
# fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))